<div class="admin-login-top">
  <h3 class="admin-login-space">登録しているユーザーの名前、メールアドレスを確認できます</h3>

  <div class="quiz-index">
    <div class="admin-player-index">
      <h4 class="admin-players-title">ユーザーネーム</h4>
      <h4 class="players-email">メールアドレス</h4>
    </div>
    <% @players.each do |player|%>
      <div class="admin-player-index">
        <div class="admin-players-title"><%= player.player_name %></div>
        <div class="players-email"><%= player.email %></div>
      </div>
    <% end %>
  </div>
  <%= paginate @players %>
</div>