<div class="admin-login-top">
  <h3 class="admin-login-space">現在出題しているクイズの一覧を確認することができます</h3>

  <div class="quiz-index">
    <% @quizzes.each do |quiz|%>
      <div class="quiz-index-adjustment">
        <%= quiz.id %>
        <%= link_to quiz.question.truncate(47, omission: '...'),edit_admin_quiz_path(quiz.id) %>
      </div>
   <% end %>

  </div>
  <%= paginate @quizzes %>
</div>