<div class="request-quiz-end">
  <h3>作成したクイズが管理者に送られました！<br>内容を確認してからの使用となりますので、しばらくお待ちください。<br>
      <span class="request-quiz-new">オリジナルのクイズ作成は、1回の全問正解につき1問までとなっております。</span><br>またの挑戦をお待ちしております！</h3>
  <div class="next-title"><%= link_to 'トップページへ戻る' ,root_path, class: 'next-button' %></div>
</div>

