// Place all the styles related to the admin/players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.admin-player-index{
  display: flex;
  margin: 12px 0;
  border-bottom: 2px solid #C0C0C0;
}

.admin-players-title{
  width: 50%;
}

.players-email{
  width: 50%;
}