<h2 class="faq">FAQ</h2>

  <div class="faq-box">
    <div class="faq-title">
      <p>Q.クイズに挑戦することができません。</p>
    </div>
    <div class="faq-answer">
      <p>A.新規登録後または、ログインした状態ですとクイズに挑戦することが可能です。</p>
    </div>

    <div class="faq-title">
      <p>Q.次の問題へ進むにはどうしたらいいですか？</p>
    </div>
    <div class="faq-answer">
      <p>A.「答えと解説を見る」を押すと次の問題へ進むリンクが表示されます。</p>
    </div>

    <div class="faq-title">
      <p>Q.全部で何問出題されますか？</p>
    </div>
    <div class="faq-answer">
      <p>A.10問、ランダムで出題されます。</p>
    </div>

    <div class="faq-title">
      <p>Q.クイズを作成したいのですが、どうしたらいいですか？</p>
    </div>
    <div class="faq-answer">
      <p>A.クイズに満点で正解するとクイズを作成することが可能です。</p>
    </div>
  </div>






