<div class="top">
  <%= link_to "FAQ", homes_about_path, class: 'faq-link' %>
  <div class="overview-block">
    <p class="overview">studies ITは、ITの基礎知識をクイズとして出題する学習サイトです。<br>
     ITパスポート試験相当のレベルとなっており、回答は実際の試験と同様に4択から選択可能です。<br>
     全問解説付きですので、ぜひご活用ください。</p>
  </div>
  <%= link_to "クイズに挑戦する", user_quizzes_path, class: 'challenge' %>
  <%= link_to new_admin_session_path do %><i class="fas fa-cog gear"></i><% end %>
</div>