// Place all the styles related to the user/quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.answer_box {
  width: 60%;
  margin: 20px auto;
  text-align: left;
}

.answer-explanation-show {
    display: none;
}

// 出題画面
.question{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.select-button {
  border: 1px solid #000000;
  text-decoration: none;
  border-radius: 8px;
  padding: 3px 16px;
  color: #000000;
}